@import "tailwindcss/base";
@import "tailwindcss/utilities";

/* FONTS */

@font-face {
  src: url("../fonts/GothamRounded-Bold.otf");
  font-family: gotham-bold;
}
.gotham-bold {
  font-family: gotham-bold;
}

@font-face {
  src: url("../fonts/GothamRounded-Medium.otf");
  font-family: gotham-medium;
}
.gotham-medium {
  font-family: gotham-medium;
}

@font-face {
  src: url("../fonts/GothamRounded-Book.otf");
  font-family: gotham-book;
}
.gotham-book {
  font-family: gotham-book;
}

@font-face {
  src: url("../fonts/GothamRounded-Light.otf");
  font-family: gotham-light;
}
.gotham-light {
  font-family: gotham-light;
}
/* END FONTS */

/* COLORS */

.dark-grey {
  color: #a0aec0;
}

.dark-grey-bg {
  background-color: #a0aec0;
}

.grey-bg {
  background-color: #e6e6e6;
}

.light-grey-bg {
  background-color: #fafafa;
}

.orange {
  color: #d37200;
}

.orange-bg {
  background-color: #d37200;
}

.orange-fill {
  fill: #d37200!important;
}

.dark-grey-fill {
  fill: #a0aec0!important;
}

/* END COLORS */

/* UTILS */

.opacity-90 {
  opacity: 0.9;
}

.absolute-center-horizontaly {
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-vertically {
  top: 50%;
  transform: translateY(-50%);
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.container-85 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-5p {
  bottom: 5%;
}

.h-14 {
  height: 3.5rem;
}

/* END UTILS */

/* FORMS */

.placeholder::-webkit-input-placeholder {
  opacity: 0.7;
}
.placeholder:-ms-input-placeholder {
  opacity: 0.7;
}
.placeholder::-ms-input-placeholder {
  opacity: 0.7;
}
.placeholder::placeholder {
  opacity: 0.7;
}

/* END FORMS */
